body {
  overflow-x:  hidden;
}

.bg-color {
  &__dark, &__dark .dropdown-menu, &__dark .dropdown-menu a:hover {
    background-color: var(--color-dark);
    @include submit_button(var(--color-light), var(--color-dark));
  }
  &__light, &__light .dropdown-menu, &__light .dropdown-menu a:hover {
    background-color: var(--color-light);
    @include submit_button(var(--color-dark), var(--color-light));
  }
  &__primary, &__primary .dropdown-menu, &__primary .dropdown-menu a:hover {
    background-color: var(--color-primary);
    @include submit_button(var(--color-light), var(--color-dark));
  }
  &__secondary, &__secondary .dropdown-menu, &__secondary .dropdown-menu a:hover {
    background-color: var(--color-secondary);
    @include submit_button(var(--color-light), var(--color-dark));
  }
  &__white, &__white .dropdown-menu, &__white .dropdown-menu a:hover {
    background-color: #ffffff;
    @include submit_button(var(--color-dark), var(--color-light));
  }
  &__black, &__black .dropdown-menu, &__black .dropdown-menu a:hover {
    background-color: #000000;
    @include submit_button(var(--color-light), var(--color-dark));
  }
}

.section {
  &-width {
    &--boxed {
      max-width: var(--width-boxed);
      margin: 0 auto;
    }
  }
}

.bg-attachment {
  &--parallax {
    background-attachment: fixed;
  }
}



.gform_footer input[type="submit"] {
  padding: 1em 2em;
}

a {
  text-decoration: none;
}

.py-xl {
  padding-top: 6em;
  padding-bottom: 6em;
}

.py-xxl {
  padding-top: 10em;
  padding-bottom: 10em;
}

.px-xl {
  padding-left: 6em;
  padding-right: 6em;
}

.px-xxl {
  padding-left: 10em;
  padding-right: 10em;
}

.my-xl {
  margin: 6em auto;
}

.my-xxl {
  margin: 10em auto;
}

.page-section {
  background-size: cover;
  background-position: center;
  position: relative;
  .container {
    position: relative;
    z-index: 2;
  }
}

.color_overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;


}

.main-container {
  display: flex;
}

.btn {
	width: fit-content;
  display: block;

  &__position {
    &--center {
      margin: 0 auto;
    }
    &--right {
      margin: 0 0 0 auto;
    }
    &--left {
      // margin: 0 0 0 auto;
    }
  }
}


.v4-single {
  display: flex;

  #primary {
    flex: 3;
  }


  #secondary {
    flex: 1;
  }
}

.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
 }


.v4-image-blurb {
  display: flex;


  &__position {
    &--right {
      flex-direction: row-reverse;
    }
  }

  @media (max-width: 768px) {
    flex-direction: column;
  }

  > div {
    flex: 1;
    padding: 1em;
  }
}

.v4-star-rating {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  font-size: 1.1em;

  &:before, &:after {
    background-color: var(--color-primary);
    height: 1px;
    width: 100%;
    content: '';
  }

  &__inner {
    padding: 2em;
    min-width: fit-content;

    span {
      margin-left: .3em;
    }
  }
}

.product-summary {
  // border: 1px solid;
  padding: 1em;
  border-color: var(--color-secondary);
  strong {

    position: relative;
    display: inline-flex;
    flex-direction: column-reverse;
    margin-bottom: .3em;
    font-size: 1.5em;
    &:after {
      position: absolute;
      content: '';
      width: 100%;
      background-color: var(--color-primary);
      height: 2px;
    }
  }

  ul {
    margin: .5em 0 .7em;
  }
}
@media screen and (min-width: 991px) {
  .alignwide, .alignfull {
       width:  100vc;
       max-width:  100vc;
      //  margin-left:  calc(50% - 50vw);
       margin: 0 auto;
  }
}

.wp-block-columns {
  margin-bottom: 0;
}

.wp-block-buttons>.wp-block-button.has-custom-width .wp-block-button__link {
  width: auto;
}


.container-full {
  display: flex;
    flex-wrap: inherit;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
}