.card-header, .card-footer {
  background-color: transparent;
  border-bottom: none;
  border-top: none !important;

  i {
    font-size: 4em;
    padding-top: .1em;
    color: var(--color-primary) !important;
  }
}

.card-header {
  .frame {
    padding-bottom: 50%;
    background-position: center;
    background-size: cover;
  }
}

.card-body {
  color: var(--color-dark) !important;
  a {
    color: var(--color-dark) !important;
  }
}

.card {
  @media (max-width: 768px) {
    margin-bottom: 2em;
  }
  border: none;
  background-color: var(--color-light);
}


.v4-card {

  overflow: hidden;
  &__image {
    background-position: center;
    background-size: cover;
    min-height: 200px;
  }

  &__content {
    padding: 2em;

    p {
      margin-bottom: 0;
    }
  }

  &__shadow {
    &--1 {
      box-shadow: 8px 6px 10px rgba(0, 0, 0, 0.10);
      margin: 9px;
    }
  }
}

.grid {
  display: grid;
  grid-gap: var(--global-grid-gap);
}

.v4-cards {


  &__count {
    &--3 {
     grid-template-columns: repeat(3, 1fr);
    }
    &--2 {
     grid-template-columns: repeat(2, 1fr);
    }
    &--4 {
     grid-template-columns: repeat(4, 1fr);
    }
    &--5 {
     grid-template-columns: repeat(5, 1fr);
    }
  }

}
