.site-header {
  // display: flex;
  min-height: 115px;

  &.text-color {
    &__dark ul:not(.dropdown-menu) a,
    &__dark .custom-toggler.navbar-toggler {
      color: var(--color-dark) !important;
      border-color: var(--color-dark) !important
    }

    &__dark .custom-toggler .navbar-toggler-icon {
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0,0,0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
    }

    &__light ul:not(.dropdown-menu) a,
    &__light .custom-toggler.navbar-toggler {
      color: var(--color-light) !important;
      border-color: var(--color-light) !important
    }

    &__light .custom-toggler .navbar-toggler-icon {
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
    }

    &__primary ul:not(.dropdown-menu) a,
    &__primary .custom-toggler.navbar-toggler {
      color: var(--color-primary) !important;
      border-color: var(--color-primary) !important
    }

    &__primary .custom-toggler .navbar-toggler-icon {
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
    }

    &__secondary ul:not(.dropdown-menu) a,
    &__secondary .custom-toggler.navbar-toggler {
      color: var(--color-secondary) !important;
      border-color: var(--color-secondary) !important
    }

    &__secondary .custom-toggler .navbar-toggler-icon {
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
    }

  }


}

.site-branding {
  img {
    max-width: 200px;
  }
}

.bg-header-overlay {
  &--true:not(.fixed) {
    background-color: transparent;
  }
}

.header-overlay {
  &--true {
    margin-top: -115px;
  }
}

.frame {
  background-size: cover;
}

.page-title-container {
  .frame {
    padding-bottom: 50%;
    border-radius: .1em;
    margin-bottom: 1em;
  }
}


.top-bar {

  &__data {
    ul {
      display: flex;
      @media (max-width: 768px) {
        flex-direction: column;
        text-align: center;
      }
      margin-bottom: 0;
      margin-left: 0;
      padding-left: 0;
      list-style: none;
    }
    li {
      i {
        margin-right: .5em;
      }
      &:not(:last-child) {
        @media (min-width: 767px) {
          border-right: 1px solid #eee;
          padding-right: 1em;
          margin-right: 1em;
        }

      }
    }
  }
}
