button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 1px solid;
	border-color: $color__border-button;
	border-radius: 3px;
	background: $color__background-button;
	color: rgba(0, 0, 0, 0.8);
	line-height: 1;
	padding: 0.6em 1em 0.4em;

	&:hover {
		border-color: $color__border-button-hover;
	}

	&:active,
	&:focus {
		border-color: $color__border-button-focus;
	}
}

a.btn {



	&-primary {
		background-color: var(--color-primary);
		border-color: var(--color-primary);
		color: var(--color-light);

		&:hover {
			background-color: var(--color-dark);
			border-color: var(--color-dark);
		}
	}

	&-v4 {
		&-light {
			background-color: var(--color-light);
			border-color: var(--color-light);
			color: var(--color-dark);
			&:hover {
				background-color: var(--color-dark);
				border-color: var(--color-dark);
				color: var(--color-light);
			}
		}
		&-dark {
			background-color: var(--color-dark);
			border-color: var(--color-dark);
			color: var(--color-light);
			&:hover {
				background-color: var(--color-light);
				border-color: var(--color-light);
				color: var(--color-dark);
			}
		}
		&-outline-dark {
			border-color: var(--color-dark);
			color: var(--color-dark);
			background-color: transparent !important;
			&:hover {
				background-color: var(--color-light);
				border-color: var(--color-light);
				color: var(--color-dark);
			}
		}
		&-outline-light {
			border-color: var(--color-light);
			color: var(--color-light);
			background-color: transparent !important;
			&:hover {
				background-color: var(--color-dark);
				border-color: var(--color-dark);
				color: var(--color-light);
			}
		}
	}
}

.btn {
	&__container {
		display: flex;
		@media screen and (max-width: 991px) {
			flex-direction: column;
			.btn {
					margin-bottom: var(--global-grid-gap);
				}
		}
		.btn {
			margin-right: 10px;
		}

		&__alignment {
			&--left {
				justify-content: flex-start;
				align-items: flex-start;
			}
			&--center {
				justify-content: center;
				align-items: center;
			}
			&--right {
				justify-content: flex-end;
				align-items: flex-end;
			}
		}
	}
}
